# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [6]:
import pandas as pd
import numpy as np

In [28]:
data = {'國家':['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O'], 
        '人口':np.random.randint(10000,1000000,15) }
table = pd.DataFrame(data)
table

   國家      人口
0   A  617946
1   B  886944
2   C  332979
3   D  339600
4   E  349138
5   F  576578
6   G  885918
7   H  865130
8   I  555655
9   J  882674
10  K  782068
11  L  953380
12  M   54545
13  N  821883
14  O   97919

In [29]:
print("人口數最多的國家是:",table['國家'][table['人口'].idxmax()])
print("人口數為",max(table.人口))

人口數最多的國家是: L
人口數為 953380